.cssStatsIframe {
  width: 100%;
  min-height: 90vh;
  border-top: 3.5px solid var(--theme-color);
  margin-top: 14px;
  padding-left: 7px;
  padding-right: 7px;
}

.assetsLogo {
  background-color: var(--theme-color);
  color: white;
  font-weight: bold;
  border: 4px solid #000;
  border-top-left-radius: 27px;
  border-bottom-right-radius: 27px;
  padding: 3px 20px;
  vertical-align: middle;
  height: 41px;
  margin-right: 10px;
  margin-left: 17px;
}

.linkButton {
  background-color:  var(--theme-color) !important;
}

.dropDownSVG {
  fill: currentColor;
  margin-left: 5px;
  display: inline-block;
}

.link {
  color: var(--theme-color) !important;
}

.myApp {
  --theme-color: #169e6d;
}

.dropDownBtnText {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.infoBtn {
  border: none;
  height: auto;
}